{"C:calendar-description": "", "C:supported-calendar-component-set": "VEVENT,VJOURNAL,VTODO", "D:displayname": "{{ radicale_shared_calendar_collection_name }}", "ICAL:calendar-color": "#dd9dc5ff", "tag": "VCALENDAR"}
